#mercadoliebre {
    width: 70%;
    text-align: left;
}
img {
    text-align: center;       
}

#lista {
    text-align: left;
}

#barras {
    background-color: #1259c3;
    border: 30%;
    padding: 10px;
    text-align: center;
}

#titulo {
    font-size: 24px;
}

#marcoProducto {
    background-color: white;
    border-top: solid 1px #ebebeb;
    border-left: 15px #ebebeb;
    border-right: 15px #ebebeb;
    box-sizing: border-box;
    font-size: 70%;
}

#envio {
    font-size: 16px;
    text-align: left;
}

#precio {
    font-size: 18px;
    text-align: left;
}

#descuento {
    font-size: 16px;
    text-align: left;
}

#cuerpo{
    font-size: 12px;
    text-align: left;
}

#descripcion {
    display: none;
    text-align: left;
}


header {
    background-color: #EAC926;;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

main {
    background-color: #ebebeb;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

i{
    font-size: 15px;
}


#Copyright {
    background-color: #ebebeb;
    text-align: center;
}

#negrita {
    font-weight: bold;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}



@media (min-width: 361px){
    #descripcion{
        display: block;
    };
    #marcoProducto {
        background-color: white;
        border-top: solid 1px white;
        border-left: 15px;
        border-right: 15px;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 70%;
    };
}
@media (min-width: 796px){
    #descripcion{
        display: block;
    };
    #marcoProducto {
        background-color: white;
        border-top: solid 1px white;
        border-left: 15px;
        border-right: 15px;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 70%;
    };
}