<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="../public/img/images.png", style="width: 300px;">
        <p>lugar para poner la barra de busqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a>></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
            <br>
            <li><a href="">Creá tu cuenta</a></li>
            <li><a href="">Ingresá</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
    </header>
    <main>
        <p>Basado en tu ultima visita</p>
        <img src="../public/img/cafetera-moulinex.jpg", style="width: 300px;">
        <p>$6.770</p>
        <p>40% OFF</p>
        <p>Cafetera Moulinex</p>
        <img src="../public/img/MacBook-Pro.jpg", style="width: 300px;">
        <p>$230.000</p>
        <p>20% OFF</p>
        <p>Mac Book Pro 2019</p>
        <br>
        <img src="../public/img/Galaxy-S10.jpg", style="width: 300px;">
        <p>$70.500</p>
        <p>10% OFF</p>
        <p>Samsung Galaxy S10</p>
        <br>
        <img src="../public/img/Samsung-TV.jpg", style="width: 300px;">
        <p>$23.200</p>
        <p>5% OFF</p>
        <p>SmartTv Samsung 43"</p>
        <br>
        <p>Seccion de Ofertas</p>
        <img src="../public/img/cafetera-moulinex.jpg", style="width: 300px;">
        <p>$6.770</p>
        <p>40% OFF</p>
        <p>Cafetera Moulinex</p>
        <br>
        <img src="../public/img/MacBook-Pro.jpg", style="width: 300px;">
        <p>$230.000</p>
        <p>20% OFF</p>
        <p>Mac Book Pro 2019</p>
        <br>
        <img src="../public/img/Galaxy-S10.jpg", style="width: 300px;">
        <p>$70.500</p>
        <p>10% OFF</p>
        <p>Samsung Galaxy S10</p>
        <br>
        <img src="../public/img/Samsung-TV.jpg", style="width: 300px;">
        <p>$23.200</p>
        <p>5% OFF</p>
        <p>SmartTv Samsung 43"</p>
        <br>
    </main>
    <footer>
        <p>Pagá con tarjeta o en efectivo</p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <p>Envío gratis desde $ 2.500</p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <p>Seguridad, de principio a fin</p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>