<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link href="https://fontawesome.com/icons?d=gallery&m=free" rel="stylesheet" >
    <link href="../Mercado Liebre/public/css/necolas.github.io_normalize.css_8.0.1_normalize.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi:wght@600&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/75c07794bc.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <img id="mercadoliebre" src="../public/img/images.png">
        <div ><input type="text" placeholder="Buscar productos"><i class="fa-solid fa-magnifying-glass" style="color: #1259c3;"></i></i></div>
        <p><i class="fa-solid fa-hand-holding-dollar" style="color: #1259c3;"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <div id="lista">
            <ul>
                <li id="descripcion"><a href="">Ofertas</a></li>
                <li id="descripcion"><a href="">Tiendas Oficiales</a>></li>
                <li id="descripcion"><a href="">Vender</a></li>
                <li id="descripcion"><a href="">Ayuda</a></li>
                <br>
                <li id="descripcion"><a href="">Creá tu cuenta<i class="fa-solid fa-address-card" style="color: #1259c3;"></i></a></li>
                <li id="descripcion"><a href="">Ingresá<i class="fa-solid fa-right-to-bracket" style="color: #1259c3;"></i></a></li>
                <li id="descripcion"><a href="">Mis compras<i class="fa-solid fa-basket-shopping" style="color: #1259c3;"></i></a></li>
            </ul>
        </div>
        <i id="barras" class="fa-solid fa-bars" style="color: white;"></i>
    </header>
    <main>
        <p id="titulo">Basado en tu ultima visita</p>
        <div id="marcoProducto">
            <img id="imagen" src="../public/img/cafetera-moulinex.jpg", style="width: 300px;">
            <br>
            <i id="envio" class="fa-solid fa-truck" style="color: green;"></i>    
            <p id="precio">$6.770</p>
            <p id="descuentos", style="color: green;">40% OFF</p>
            <p id="cuerpo">Cafetera Moulinex</p>
            <p id="descripcion">Mini Me es una elegante máquina de café que cabe en cualquier cocina y es fácil de usar, ya que el flujo se detiene automáticamente dependiendo del tamaño de la taza</p>
        </div>
        <div id="marcoProducto">
            <img id="imagen" src="../public/img/MacBook-Pro.jpg", style="width: 300px;">
            <br>
            <i id="envio" class="fa-solid fa-truck" style="color: green;"></i>   
            <p id="precio">$230.000</p>
            <p id="descuentos", style="color: green;">20% OFF</p>
            <p id="cuerpo">Mac Book Pro 2019</p>
            <p id="descripcion">Apple Macbook Pro A2251 13 2019 Core I7 10ma Gen 512gb 32gb</p>
        </div>
        <br>
        <div id="marcoProducto">
            <img id="imagen" src="../public/img/Galaxy-S10.jpg", style="width: 300px;">
            <br>
            <i id="envio" class="fa-solid fa-truck" style="color: green;"></i>  
            <p id="precio">$70.500</p>
            <p id="descuentos", style="color: green;">10% OFF</p>
            <p id="cuerpo">Samsung Galaxy S10</p>
            <p id="descripcion">SAMSUNG Galaxy S10 G973F Hybrid Dual SIM 128GB Teléfono desbloqueado GSM LTE con triple cámara trasera de 12MP+12MP+16MP</p>
        <br>
        </div>
        <div id="marcoProducto">
            <img id="imagen" src="../public/img/Samsung-TV.jpg", style="width: 300px;">
            <br>
            <i id="envio" class="fa-solid fa-truck" style="color: green;"></i>
            <p id="precio">$23.200</p>
            <p id="descuentos", style="color: green;">5% OFF</p>
            <p id="cuerpo">SmartTv Samsung 43"</p>
            <p id="descripcion">Smart Tv Led 43" Samsung Un32j5500 Led Wifi Refabricado Negro</p>
        </div>
        <br>
        <div>
            <p id="titulo">Seccion de Ofertas</p>
        </div>
        <div id="marcoProducto">
            <img id="imagen"  src="../public/img/cafetera-moulinex.jpg", style="width: 300px;">
            <br>
            <i id="envio" class="fa-solid fa-truck" style="color: green;"></i>  
            <p id="precio">$6.770</p>
            <p id="descuentos", style="color: green;">40% OFF</p>
            <p id="cuerpo">Cafetera Moulinex</p>
            <p id="descripcion">Mini Me es una elegante máquina de café que cabe en cualquier cocina y es fácil de usar, ya que el flujo se detiene automáticamente dependiendo del tamaño de la taza</p>
        </div>
        <br>
        <div id="marcoProducto">
            <img id="imagen" src="../public/img/MacBook-Pro.jpg", style="width: 300px;">
            <br>
            <i id="envio" class="fa-solid fa-truck" style="color: green;"></i>   
            <p id="precio">$230.000</p>
            <p id="descuentos", style="color: green;">20% OFF</p>
            <p id="cuerpo">Mac Book Pro 2019</p>
            <p id="descripcion">Apple Macbook Pro A2251 13 2019 Core I7 10ma Gen 512gb 32gb</p>
        </div>
        <br>
        <div id="marcoProducto">
            <img id="imagen" src="../public/img/Galaxy-S10.jpg", style="width: 300px;">
            <br>
            <i id="envio" class="fa-solid fa-truck" style="color: green;"></i>   
            <p id="precio">$70.500</p>
            <p id="descuentos", style="color: green;">10% OFF</p>
            <p id="cuerpo">Samsung Galaxy S10</p>
            <p id="descripcion">SAMSUNG Galaxy S10 G973F Hybrid Dual SIM 128GB Teléfono desbloqueado GSM LTE con triple cámara trasera de 12MP+12MP+16MP</p>
        </div>
        <br>
        <div id="marcoProducto">
            <img id="imagen" src="../public/img/Samsung-TV.jpg", style="width: 300px;">
            <br>
            <i id="envio" class="fa-solid fa-truck" style="color: green;"></i>    
            <p id="precio">$23.200</p>
            <p id="descuentos", style="color: green;">5% OFF</p>
            <p id="cuerpo">SmartTv Samsung 43"</p>
            <p id="descripcion">Smart Tv Led 43" Samsung Un32j5500 Led Wifi Refabricado Negro</p>
        </div>
        <br>
    </main>
    <footer id="Copyright">
        <i class="fa-solid fa-credit-card" style="color: #1259c3;"></i>
        <p  class="negrita">Pagá con tarjeta o en efectivo</p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <i class="fa-solid fa-gift" style="color: #1259c3;"></i>
        <p  class="negrita">Envío gratis desde $ 2.500</p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <i class="fa-solid fa-user-shield" style="color: #1259c3;"></i>
        <p  class="negrita">Seguridad, de principio a fin</p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>