<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link href="../public/css/styles-login.css" rel="stylesheet" >
    <link href="https://fontawesome.com/icons?d=gallery&m=free" rel="stylesheet" >
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</head>
<body>
    <img src="../Mercado Liebre/public/img/images.png">
    <p>Barra de busqueda</p>
    <p>compra en coutas y sin tarjeta de credito</p>
    <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a>></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
        <br>
        <li><a href="">Creá tu cuenta</a></li>
        <li><a href="">Ingresá</a></li>
        <li><a href="">Mis compras</a></li>
    </ul>
</body>
<footer>
    <p class="negrita">Pagá con tarjeta o en efectivo</p>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!<p>
    <p class="negrita">Envío gratis desde $ 2.500</p>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    <p class="negrita">Seguridad, de principio a fin</p>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
</html>